<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelPostCommentContainer" connectionString="data source=desktop-e56va36;initial catalog=Lab6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPostComment" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPostComment" contract="IPostComment"
                name="BasicHttpBinding_IPostComment" />
        </client>
    </system.serviceModel>
</configuration>